@model IEnumerable<CarRental.Models.Car>

    @{
        ViewData["Title"] = "Car Listing";
    }

<h2 class="my-3 display-6">Find A Car</h2>

 <div class="my-5">
    <form methd="get" asp-action="Index" class="row g-3">
        <div class="col-auto">
            <label for="make" class="visually-hidden">Make</label>
            <input type="text" name="make" id="make" class="form-control" placeholder="Make" value="@Context.Request.Query["Make"]" />
        </div>

        <div class="col-auto">
            <label for="model" class="visually-hidden">Model</label>
            <input type="text" name="model" id="model" class="form-control" placeholder="Model" value="@Context.Request.Query["Model"]" />
        </div>

        <div class="col-auto">
            <label for="min-price" class="visually-hidden">Minimal Price</label>
            <input type="number" name="min-price" id="min-price" class="form-control" placeholder="Minimal Price" value="@Context.Request.Query["minPrice"]" />
        </div>

        <div class="col-auto">
            <label for="max-price" class="visually-hidden">Maximal Price</label>
            <input type="number" name="max-price" id="max-price" class="form-control" placeholder="Max" value="@Context.Request.Query["minPrice"]" />
        </div>

        <div class="col-auto">
            <button type="submit" class="btn btn-secondary">Search</button>
            <button type="reset" class="btn btn-Light border-link">Reset</button>
        </div>
    </form>
 </div>   

<h2 class="my-2 display-6">Available Cars</h2>

<div class="row">
    @foreach (var car in Model)
    {
            <div class="col-4">
                <div class="card my-3">
                        <img src="~/Images/Cars/" alt="" class="card-img-top img-card-custom">
                    <div class="card-body">
                        <h5 class="card-title">@car.Make @car.Model</h5>
                        <p class="card-text text-custom">
                            Price per Day: @car.PricePerDay €
                        </p>
                        <p class="card-text text-custom">
                            @(car.IsAvailable ? "Available" : "Not Available")
                        </p>
                    <a href="@Url.Action("Details", "Car", new { id = car.CarId})" class="btn btn-light link-custom border-link">View Details</a>
                    </div>
                </div>
            </div>
    }
</div>

@* <div>
    @foreach(var car in Model)
    {
            <div class= "car-card">
                <h2 > @car.Make @car.Model </h2>
                <p> Price per Day: @car.PricePerDay €</p>
                <p>@(car.IsAvailable ? "Available" : "Not Available") </p>
                <a href = "@Url.Action("Details", "Car", new { id = car.CarId})">View Details</a>
            </div>
    }
</div> *@